@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1F2937;
    padding: 16px 0px;
    font-family: 'Roboto', sans-serif;
    
}
.hero img {
    height: 400px;
    background-color: tomato;
}
h2 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    padding-left:0;
    display: flex;
}

li {
    list-style: none;
    margin-right: 8px;
}

.header {
    margin-bottom: 64px;
    display: flex;
    font-size: 24px;
    padding: 0px 80px;
    align-items: center;
    justify-content: space-between;
    
    background-color: #1F2937;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.herotext {
  padding-right: 8px;
}
.hero {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    margin-bottom: 64px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.herotext button {
    background-color: #3882F6;
    border: 0px;
    border-radius: 8px;
    padding: 8px 32px;
    color: #F9FAF8;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.secondpart {
    padding: 32px;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.secondpart h1 {
    font-weight: bolder;
    font-size: 36px;
}

.boxes {
    display: flex;
    flex-flow: row wrap;
}
.box {
    margin: 32px;
}
.box img {
    border-radius: 80px;
    width: 350px;
}
.thirdpart {
    background-color: #E5E7EB;
    display: flex;
    padding: 160px;
    justify-content: center;

}

.quotetext{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
}
.fourthpart {
    background-color: #f9f9f9;
    padding: 200px;
}
.calltoactionbox {
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
}
.calltoactionbox button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    border-color: white;
    color: #F9FAF8;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.footer {
    color: #E5E7EB;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 50px;
}